@import "./variables";

.banner {
    background: url("/imgs/checklist.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: $banner-height;
    position: relative;
    // top: 0;
    // left: 0;
    z-index: -1;
    padding: 3em $banner-right-left-padding;
    margin-bottom: 6em;

    &-down-caret {
        position: absolute;
        top: calc($banner-height - 5vh);
        left: 50%;
        transform: translate(-50%, -50%);
        margin-right: -50%;
        font-size: 2.5rem;

        &:hover {
            cursor: pointer;
        }
    }

    &-content {
        position: absolute;
        top: 20%;
        left: $banner-right-left-padding;

        &-title {
            font-size: 3rem;
            margin-bottom: .25em;
        }

        &-subtitle {
            margin-bottom: 2em;
        }

        &-search {
            display: flex;
            align-items: center;
            margin-bottom: 3em;

            &-lbl {
                display: none;
            }
    
            &-searchbox {
                width: 300px;
                border-radius: 25px;
                padding: 5px 10px;
                position: relative;
                border: 1px solid black;
            }

            &-icon{
                position: absolute;
                left: 272px;
                background-color: #333;
                color: #fff;
                border-radius: 0px 25px 25px 0;
                padding: 1.5px 3px;
                transition: all .3s;

                &:hover {
                    background-color: green;
                    color: #000;
                    cursor: pointer;
                }
            }
        }

        &-guide-btn {
            background: #333;
            padding: 8px 15px;
            text-decoration: none;
            color: #fff;
            border-radius: 20px;
            box-shadow: 0 0 2px #000;
            transition: all .3s;

            &:hover {
                // border: solid 2px #333;
                box-shadow: none;
                background: #fff;
                color: black;
                position: relative;
            }

            &:active {
                top: 4px;
                box-shadow: inset 2px 2px 2px #333;
            }
        }
    }
}

.header {
    width: 100%;
    padding: 0em $banner-right-left-padding;
    position: absolute;
    top: 3em;
    right: 0;

    &-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-menu {

            ul {
                list-style-type: none;
                display: flex;

                li {
                    margin-left: 1em;

                    a {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}